#overlay {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
  background: rgba(129,49,54, 0.7);
}

#overlay div {
  width:400px;
  margin: 0 auto;
  background-color: #fff;
  padding:0;
  text-align:center;
}

.modalTitle {
  font-size: 25px;
}

.modalBox {
  margin-top: 150px;
}

body {
  height:100%;
  margin:0;
  padding:0;
}

.form-group {
  width: 200px;
  .form-control {
    width: 200px;
    height: 35px;
    margin: 5px;
    font-size: 17px;
  }
}

 .register, .login, .logout, .begin {
  width: 80px;
  height: 30px;
  line-height: 30px;
  background: rgba(129,49,54, 0.7);
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 2px solid rgba(129,49,54, 1);
  border-radius: 5px;
}
