* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 90px;
  background: #813136;
  border-botton: 2px solid darkgrey;
  position: relative;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  margin: 5px
}

a, p {
  font-size: 20px;
  margin: 5px;
}

#favourite {
  display: block;
  padding: 10px;
  margin: 5px;
  background: lightblue;
  font-weight: bold;
}

nav {
  width: 100%;
  // height: 40px;
  ul li {
    width: 16.67%;
    line-height: 40px;
    float: left;
    text-align: center;
    a  {
      display: block;
      text-decoration: none;
      color: black;
    }
    &:hover {
      background: lightgrey;
    }
  }
}

#map-canvas {
  width: 100%;
  height: 88vh;
  margin: 0 auto;
}

.mapSearch {
  width: 300px;
  height: 45px;
  position: absolute;
  z-index: 1;
  background: RGBA(95, 129, 122, 0.5);
  border: 1px solid blue;
  top: 100px;
  left: 50%;
  margin-left: -150px;
  #searchBox {
    height: 30px;
    width: 200px;
    padding: 10px;
    margin: 5px;
    background: green;
  }
  button {
    height: 30px;
    width: 80px;
    padding: 5px;
    background: lightblue;
  }
}
